/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    background: url("/assets/background-gradient.png") repeat-x fixed 0 0%, url("/assets/body-speckle.png") repeat fixed 0 0 #FAFBFC;
    padding-top: 50px;
}
.navbar-inner {
  background-color: #184C70; /* background color will be black for all browsers */
  background-image: -webkit-linear-gradient(#285C90, #184C70);
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  margin-top: -1px;
}
